body
{
	background-color: silver;
}

/* unvisited link */
a:link {
    color:brown;
}
/* visited link */
a:visited {
    color:brown;
}
/* mouse over link */
a:hover {
    color:#FF00FF;
}
/* selected link */
a:active {
    color:brown;
}

/* selected link */
h1{
	color:OrangeRed;
}
div {
	text-align: center;
}
ul { display: table; margin: 0 auto; }    
/*Changing the font for*/
h2.serif{
	font-family:"Lucida Console", Monaco, monospace;
}

h3{
    font-family: "Times New Roman", Times, serif;
    color:black;
}

button:hover{
	background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

.button {
    position: absolute:
    top: 50%;
}

a {
	text-align: center;
}

.labels {
     
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 65px;     
     border: 2px solid black;
     white-space: nowrap;
}
