body
{
	background-color: silver;
}
/* selected link */
h1{
	color:OrangeRed;
}
div {
	text-align: center;
}
ul { display: table; margin: 0 auto; }    
/*Changing the font for*/
h2.serif{
	font-family:"Lucida Console", Monaco, monospace;
}

button:hover{
	background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
a {
	text-align: center;
}

.labels {
     
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 65px;     
     border: 2px solid black;
     white-space: nowrap;
}
