body
{
	background-color: white;
}
/* unvisited link */
a:link {
	color:brown;
}
/* visited link */
a:visited {
	color:brown;
}
/* mouse over link */
a:hover {
	color:#FF00FF;
}
/* selected link */
a:active {
	color:brown;
}
/*List item markers*/  
ul.a {
	list-style-type:square;
}  
/*List item markers*/
ul.b {
	list-style-type:square;
}  
/*List item markers*/
ul.c {
	list-style-type:square;
}  
/*List item markers*/
ul.d {
	list-style-type:square;
}  
/*Changing the font for*/
h2.serif{
	font-family:"Lucida Console", Monaco, monospace;
}
h3.serif{
	font-family:"Lucida Console", Monaco, monospace;
}